{% extends "base.html" %}

{% block content %}

<section class="card">

    <div class="top-text">
        Page 02 • Our Bond
    </div>


    <div class="heart-big">
        ♥
    </div>


    <h1>
        My Bestie
    </h1>


    <p class="quote">

        “A bestie is a little piece
        of home in another person.”

    </p>


    <p class="subtitle">

        No matter how crazy life gets,
        some people make every moment better.

        That's what makes a bestie special. 🫶

    </p>


    <div class="heart-row">
        💗 💕 💖 💞 💗
    </div>


    <a class="btn"
       href="{{ url_for('birthday') }}">

        Next Surprise →

    </a>

</section>

{% endblock %}
